table {
    width: 50vw;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 2%;
  }
  
  th, td {
    padding: 14px 8px;
    text-align: left;
    color: #d5d5d5;
  }

  th {
    border-bottom: 2px solid #ddd;
  }

  td {
    border-top: 1px solid #dddddd7e;
  }

  tr {
    font-size: 16px;
    color: #d5d5d5;
  }

  tr.add-item {
    width: 50vw;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 2%;
    padding: 0 0 14px 0;
  }
  
  th.number-size, td.align-right, td.number-size, input.number-size {
    width: 2vw;
    text-align: right;
  }
  
  th.name-size, td.name-size, input.name-size {
    width: 33vw;
  }
  
  input.name-size {
    width: 99%;
  }
  
  th.type-size, td.type-size, select.type-size {
    width: 7vw;
  }
  
  th.cost-size, td.cost-size, input.cost-size {
    width: 5vw;
  }
  
  th.action-size, td.action-size, input.action-size {
    width: 3vw;
  }

  a:link,
  a:visited,
  a:hover  {
    text-decoration: underline;
    color: #d5d5d5;
  }
  
  /* Hover effect on table rows */
  tr:hover {
    transition: all 0.3s;
  }
  
  /* Header styles */
  h2 {
    font-size: 24px;
    color: #d5d5d5;
    margin: 25px 0px 0px 0px;
  }
  
  p {
    font-size: 14px;
    color: #d5d5d5;
    margin: 15px 0px;
  }

  .levels-button, .add-item-button {
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline for links */
    transition-duration: 0.3s; /* Smooth transition effect on hover */
    box-shadow: 0px 0px 5px 5px rgba(136, 135, 135, 0.25);
    font-weight: bold;
    background-color: #f9f9f9; /* White background color */
    color: #333333; /* Dropdown text color */
    border: 1px solid #c0c0c0; /* Border color */
    cursor: pointer; /* Cursor on hover */
    font-size: 14px; /* Font size */
  }

  .levels-button {
    height: 3.6vh; /* Set height of the dropdown */
    width: 3vw; /* Set width of the dropdown */
    border-radius: 1vh; /* Rounded corners */
  }

  .add-item-button {
    height: 4.5vh; /* Set height of the dropdown */
    width: 12vw; /* Set width of the dropdown */
    border-radius: 1vh; /* Rounded corners */
    margin: 20px 0;
  }

  .modern-input {
    outline: none; /* Remove outline */
    padding-left: 4px;
    height: 3.6vh; /* Set height of the dropdown */
    background-color: #f9f9f9; /* White background color */
    color: #333333; /* Dropdown text color */
    border: 1px solid #c0c0c0; /* Border color */
    border-radius: 1vh; /* Rounded corners */
    cursor: pointer; /* Cursor on hover */
    font-size: 14px; /* Font size */
  }

  select.modern-input {
    height: 4.1vh; /* Set height of the dropdown */
  }

  /* Adjust table width for mobile devices */
@media (max-width: 768px) {
    table {
      width: 90vw; /* Set width to 90% for mobile devices */
    }

    tr.add-item {
      width: 90vw;
    }
  
    td.number-size, input.number-size {
      width: 2vw;
    }
    
    td.name-size, input.name-size {
      width: 33.8vw;
    }
  
    td.type-size, select.type-size {
      width: 7vw;
    }
    
    td.cost-size, input.cost-size {
      width: 8vw;
    }
    
    td.action-size, input.action-size {
      width: 10vw;
    }

    tr {
      font-size: 14px;
    }

    h2 {
      font-size: 20px;
    }
    
    .levels-button {
      width: 12vw; /* Set width of the dropdown */
    }

    .add-item-button {
      width: 40vw; /* Set width of the dropdown */
    }
  }