body,
html {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(248, 238, 216);
}

.content {
    margin: auto;
    justify-content: center;
    width: fit-content;
    margin-bottom: 15px;
}

table,
td,
th {
    border: 2px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
    width: fit-content;
}

td {
    text-align: left;
    width: fit-content;
    padding: 5px;
    margin: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: fit-content;
}

.input_box {
    width: fit-content;
    display: flex;
    color: rgb(223, 223, 223);
    background-color: rgb(1, 116, 116);
    border-radius: 15px;
    margin: 20px 20px 20px 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 3px 4px rgba(1, 89, 116, 0.404);
}

.input_box_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.menu_box {
    width: auto;
    display: flex;
    color: rgb(223, 223, 223);
    background-color: rgb(1, 116, 116);
    box-shadow: 3px 4px rgba(1, 89, 116, 0.404);
}