body,
html {
    font-family: sans-serif;
    background-color: rgb(248, 238, 216);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.menu_box {
    height: 15vh;
    width: 100vw;
    color: rgb(223, 223, 223);
    background-color: rgb(1, 116, 116);
    box-shadow: 3px 4px rgba(1, 89, 116, 0.404);
}

.input_box {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    padding: 10px;
    color: rgb(223, 223, 223);
    background-color: rgb(1, 116, 116);
    border-radius: 15px;
    margin: 20px;
    align-items: center;
    box-shadow: 3px 4px rgba(1, 89, 116, 0.404);
}

.input_box_container {
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 50vw;
    position: fixed;
    top: 15vh;
    left: 25vw; /* Center horizontally */
    z-index: 1; /* Place input_box_container above content */
}

.itemx {
    flex: 1 1 auto;
}

.buttonx {
    border-radius:10px;
    box-shadow:2px 3px rgba(2, 76, 99, 0.603);
    height:30px;
    width:80px
}

.margined {
    margin-left: 8px;
    margin-right: 8px;
}

.form {
    margin-top: 20px;
}

.content {
    flex: 1;
    margin: auto;
    width: fit-content;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Enable vertical scrollbar if content exceeds the height */
}

table,
td,
th {
    border: 0px rgba(255, 255, 255, 0);
}

tr:nth-child(even){
    background-color: #6969691c;
}

table {
    border-collapse: collapse;
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
}

th {
    height: 30px;
    width: fit-content;
}

td {
    text-align: left;
    width: fit-content;
    padding: 5px;
    margin: 5px;
}

#content {
    width: fit-content;
}


/* Links */
a:link,
a:visited {
    text-decoration: none;
    color: rgb(1, 77, 100);
}
a:hover {
    text-decoration: underline;
    color: rgb(1, 77, 100);
}

/* Scrollbar */
::-webkit-scrollbar {
    display: block;
    width: 12px;
    border-radius: 6px;
    padding: 4px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(1, 116, 116);
    border-radius: 6px;
    border: 3px transparent #6969691c;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(1, 89, 116, 0.604);
  }

/* Lateral menu */

.lateral-menu {
    top: 15vh;
    left: 0;
    height: 85vh;
    width: 15vw;
    background-color: rgb(1, 116, 116); /* Customize the background color */
    padding: 15px; /* Add padding to menu items for spacing */
    box-sizing: border-box; /* Include padding in width and height */
}

.lateral-menu li {
    margin-bottom: 10px; /* Add margin between menu items */
}

.lateral-menu a {
    display: block;
    color: #fff; /* Customize text color */
    text-decoration: none;
    padding: 10px;
}

.lateral-menu a:hover {
    background-color: #555; /* Customize hover color */
}