:root {
  --menu-height: 7vh;
  --dark-grey1: #282c34;
  --dark-grey2: #333333;
  --dark-grey3: #444a57;
  --white1: #f9f9f9;
  --white2: #c0c0c0;
  --white3: #d5d5d5;
  --white-t: #c0c0c0cc;
  --blue1: #017474;
  --blu-t: #015974b3;
  --black: #0d0d0d;
}

.app {
  text-align: center;
  padding-top: var(--menu-height);
  display: flex;
  /* so sidebars + content sit side by side */
  height: calc(100vh - var(--menu-height));
  width: 100%;
  overflow: hidden;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-header {
  background-color: #282c34;
  height: calc(100vh - var(--menu-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
  color: #333333;
  flex: 1;
  overflow: auto;
}

.app-link {
  color: #61dafb;
}

body {
  margin: 0;
  font-family: 'Verdana', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.saving-button,
.item-number-button,
.add-item-button,
.modern-input,
.modern-dropdown,
.modern-button,
.levels-button {
  background-color: #f9f9f9;
  color: #333333;
  border: 1px solid #c0c0c0;
  border-radius: 0.58rem;
  cursor: pointer;
  box-shadow: 3px 3px 2px 0px rgba(1, 89, 116, 0.264),
    inset -3px -3px 5px 0px rgba(185, 207, 255, 0.625);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Webkit (Chrome, Safari, newer versions of Opera) */
body::-webkit-scrollbar {
  display: block;
  width: 12px;
  border-radius: 6px;
  padding: 4px;
}

body::-webkit-scrollbar-track {
  background: #444a57;
}

body::-webkit-scrollbar-thumb {
  background: #017474;
  border-radius: 1rem;
  border: 3px transparent #6969691c;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body::-webkit-scrollbar-thumb:hover {
  background: #0159749a;
}

/* Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #017474 #444a57;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 2s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}