:root {
  --menu-height: 7vh;

  --white: #f9f9f9;
  --white2: #c0c0c0;
  --dark-grey: #333333;
  --black: #0d0d0d;
  --blue: #017474;
  --white-t: #c0c0c0cc;
  --grey-t: #444a577e;
  --black-t: #0d0d0d1a;
  --blue-t: #015974b3;
  --blue-t2: #01597443;
}

.app {
  text-align: center;
  padding-top: var(--menu-height);
  display: flex;
  /* so sidebars + content sit side by side */
  height: calc(100vh - var(--menu-height));
  width: 100%;
  overflow: hidden;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-header {
  background-color: var(--dark-grey);
  height: calc(100vh - var(--menu-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
  color: var(--white);
  flex: 1;
  overflow: auto;
}

.app-link {
  color: var(--blue);
}

body {
  margin: 0;
  font-family: 'Verdana', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.saving-button,
.item-number-button,
.add-item-button,
.modern-input,
.modern-dropdown,
.modern-button,
.levels-button {
  background-color: var(--white);
  color: var(--dark-grey);
  border: 1px solid var(--white2);
  border-radius: 0.58rem;
  cursor: pointer;
  box-shadow: 3px 3px 2px 0px var(--blue-t2),
    inset -3px -3px 5px 0px var(--white-t);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Webkit (Chrome, Safari, newer versions of Opera) */
body::-webkit-scrollbar {
  display: block;
  width: 12px;
  border-radius: 6px;
  padding: 4px;
}

body::-webkit-scrollbar-track {
  background: var(--dark-grey);
}

body::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 1rem;
  border: 3px transparent var(--dark-grey);
  -webkit-box-shadow: inset 0 0 6px var(--black-t);
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--blue-t);
}

/* Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: var(--blue) var(--dark-grey);
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 2s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}