.cards {
  width: 96%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3.5rem;
}

.card {
  width: 100%;
  background-color: var(--white-t);
  box-shadow: 3px 4px 5px var(--blue-t);
  margin-bottom: 0.6rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card-width-spellbook {
  width: 52%;
}

.card.collapsed {
  height: 2.35rem;
}

.close-button,
.collapse-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card-title {
  margin: 0.7rem;
}

.card-content {
  margin-top: 0.3rem;
  margin-bottom: 0.65rem;
  width: 96%;
  justify-items: center;
}

.card-side-div {
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-expand-div {
  justify-content: space-between;
  width: 99%;
}

.margin-top {
  margin-top: 0.6rem;
}

.levels-div {
  width: calc(var(--btn-width-sm) * 3.2);
  max-width: calc(var(--btn-width-sm) * 3.2);
  display: flex;
  justify-content: space-between;
}

.modern-dropdown {
  padding-left: 4.5px;
}

.padding-left {
  padding-left: 0.5em;
}

.level-frame {
  height: 2.1rem;
  width: 100%;
  max-width: 2.1rem;
  border-radius: 0.65rem;
  box-shadow: 0px 0px 0px 2px var(--blue-t);
  align-content: center;
}

.level-text {
  line-height: 2.1rem;
}

h3 {
  color: var(--dark-grey);
  font-size: medium;
}

.opacity-50 {
  opacity: 0.5;
}

.info-key {
  text-shadow: 1px 1px var(--black-t);
}

th,
td,
tr {
  color: var(--black);
  font-size: medium;
}

@media (max-width: 768px) {
  .cards {
    top: 3.9rem;
    margin-left: 2%;
    width: 92%;
  }

  .card-width-spellbook {
    width: 92%;
  }
}