.cards {
  width: 96%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3.5rem;
}

.card {
  width: 100%;
  background-color: #c0c0c0cc;
  box-shadow: 3px 4px 5px #015974b3;
  margin-bottom: 0.6rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card.collapsed {
  height: 2.35rem;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.collapse-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card-title {
  margin: 0.7rem;
}

.card-content {
  margin-top: 0.3rem;
  margin-bottom: 0.65rem;
  width: 96%;
}

.card-side-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-expand-div {
  justify-content: space-between;
}

.margin-top {
  margin-top: 0.6rem;
}

.modern-button {
  width: 100%;
  max-width: 8rem;
}

.modern-button.small {
  max-width: 6.6rem;
}

.levels-div {
  width: 100%;
  max-width: 11rem;
  display: flex;
  justify-content: space-around;
}

.levels-button {
  width: 100%;
  max-width: 3.1rem;
}

.levels-button.large {
  width: 100%;
  max-width: 3.4rem;
}

.modern-dropdown {
  width: 100%;
  max-width: 10rem;
  padding-left: 4.5px;
}

.modern-dropdown,
.modern-button,
.levels-button {
  height: 1.95rem;
  font-size: medium;
}

.padding-left {
  padding-left: 0.5em;
}

.modern-dropdown.small {
  width: 4rem;
}

.level-frame {
  height: 2.1rem;
  width: 100%;
  max-width: 2.1rem;
  border-radius: 0.65rem;
  box-shadow: 0px 0px 0px 2px #01597461;
  align-content: center;
}

.level-text {
  line-height: 2.1rem;
}

h3 {
  color: #333333;
  font-size: medium;
}

.opacity-50 {
  opacity: 0.5;
}

.info-key {
  text-shadow: 1px 1px #12121366;
}

th,
td,
tr {
  color: #0d0d0d;
  font-size: medium;
}

@media (max-width: 768px) {
  .cards {
    top: 3.9rem;
    margin-left: 2%;
    width: 92%;
  }

  .levels-div {
    width: 55%;
  }

  .levels-button.large {
    max-width: 3.9rem;
  }

  .modern-dropdown {
    max-width: 9.8rem;
  }

  .modern-button {
    max-width: 8rem;
  }
}