.cards {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 3vw;
  /* Adjust top spacing as needed */
}

.card {
  width: 100%;
  height: auto;
  /* Adjust card height as needed */
  background-color: rgba(192, 192, 192, 0.8);
  /* Light grey with transparency */
  box-shadow: 3px 4px 5px rgba(1, 89, 116, 0.7);
  margin-bottom: 11px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card.collapsed {
  height: 40px;
  /* Reduced height when card is collapsed */
}

.collapse-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0rem;
}

.card-title {
  margin: 10px;
}

.card-content {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 95%;
}

.card-side-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.levels-div {
  width: 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.card-expand-div {
  justify-content: space-between;
}

.margin-top {
  margin-top: 15px;
}

.modern-button {
  width: 6vw;
  /* Set width of the dropdown */
  text-align: center;
  /* Center text */
  text-decoration: none;
  /* Remove underline for links */
  display: inline-block;
  /* Make it inline block to adjust width */
  transition-duration: 0.3s;
  /* Smooth transition effect on hover */
  box-shadow: 0px 0px 5px 5px rgba(136, 135, 135, 0.25);
}

.levels-button {
  width: 3vw;
  /* Set width of the dropdown */
  text-align: center;
  /* Center text */
  text-decoration: none;
  /* Remove underline for links */
  transition-duration: 0.3s;
  /* Smooth transition effect on hover */
  box-shadow: 0px 0px 5px 5px rgba(136, 135, 135, 0.25);
  font-weight: bold;
}

.modern-dropdown {
  width: 10vw;
  /* Set width of the dropdown */
  outline: none;
  /* Remove outline */
  padding-left: 4px;
}

.modern-dropdown,
.modern-button,
.levels-button {
  height: 3.6vh;
  /* Set height of the dropdown */
  background-color: #f9f9f9;
  /* White background color */
  color: #333333;
  /* Dropdown text color */
  border: 1px solid #c0c0c0;
  /* Border color */
  border-radius: 1vh;
  /* Rounded corners */
  cursor: pointer;
  /* Cursor on hover */
  font-size: 14px;
  /* Font size */
}

.level-frame {
  height: 3.5vh;
  /* Set height of the dropdown */
  width: 3.5vh;
  /* Set height of the dropdown */
  display: inline-block;
  /* Make the frame fit the content */
  border-radius: 1vh;
  /* Rounded corners */
  text-align: center;
  /* Center text */
  vertical-align: bottom;
  box-shadow: 0px 0px 5px 5px rgba(1, 89, 116, 0.25);
}

.level-text {
  text-align: bottom;
  /* Center text */
  vertical-align: text-bottom;
  line-height: 3.5vh;
  height: 3.5vh;
}

h3 {
  color: #333333;
  /* Dropdown text color */
  font-size: 13px;
  /* Font size */
}


@media (max-width: 768px) {
  .cards {
    top: 80px;
    margin-left: 2vw;
    width: 90vw;
  }

  .modern-button {
    width: 35vw;
    /* Set width of the dropdown */
  }

  .modern-dropdown,
  .levels-div {
    width: 45vw;
    /* Set width of the dropdown */
  }

  .levels-button {
    width: 15vw;
    /* Set width of the dropdown */
  }

  .modern-dropdown,
  .modern-button,
  .levels-button {
    height: 4vh;
    /* Set height of the dropdown */
    border-radius: 1.3vh;
    /* Rounded corners */
  }
}