table {
  width: 50vw;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 0.9em;
}

th,
td {
  padding: 14px 8px;
  text-align: left;
  color: #d5d5d5;
}

th {
  border-bottom: 2px solid #ddd;
}

td {
  border-top: 1px solid #dddddd7e;
}

tr {
  font-size: 0.63em;
  color: #d5d5d5;
}

tr.add-item {
  width: 50vw;
  max-width: 50vw;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 0.9em 0.9em;
  padding: 0 0 14px 0;
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #dddddd7e;
}

td.align-right,
.number-size {
  width: 2vw;
  text-align: right;
}

th.name-size,
td.name-size {
  width: 33vw;
}

td.name-small {
  width: 28vw;
  position: relative;
}

td.name-size>input {
  width: 27vw;
}

.type-size {
  width: 6vw;
}

.cost-size {
  width: 5vw;
}

.action-size {
  width: 4rem;
}

a:link,
a:visited,
a:hover {
  text-decoration: underline;
  color: #d5d5d5;
}

h2 {
  font-size: 1em;
  color: #d5d5d5;
}

p {
  font-size: 0.63em;
  color: #d5d5d5;
}

.item-number-button,
.add-item-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
  font-weight: bold;
  height: 3.1em;
  width: 5em;
  font-size: 0.73em;
}

.item-number-button.small {
  height: 2em;
  width: 3em;
}

.add-item-button {
  width: 10em;
  margin: 1.2rem 0;
  font-size: 0.6em;
}

.modern-input {
  height: 2.25em;
  font-size: 0.9em;
  padding-left: 0.4em;
}

select.modern-input {
  height: 2.5em;
}

.header-container {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-bottom: 18px;
}

.label-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.money-box {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  border: 2px solid rgb(33, 40, 45);
  height: 25px;
}

.time-div-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.material-symbols-outlined {
  vertical-align: middle;
}

.space-left {
  margin-left: 15px;
}

.no-border-top {
  border-top: 0px;
}

.suggestions {
  position: absolute;
  top: 0.4rem;
  left: 0;
  width: 99%;
  border: 1px solid #ccc;
  background-color: #282c34;
  max-height: 30rem;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  transform: translateY(-100%);
  border-radius: 0.9em;
  z-index: 1;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
  z-index: 1;
}

.suggestion-item:hover {
  background-color: #383c44;
}

.popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 6rem;
  border: 1px solid #ccc;
  background-color: #282c34;
  margin: 0;
  padding: 0;
  border-radius: 0.9em;
  z-index: 1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.item-number-button.small {
  height: 1.9rem;
  width: 3.8rem;
}

.item-number-button.medium {
  height: 2rem;
  width: 4rem;
}

.small-scrollbar {
  height: 1.45rem;
  width: 6rem;
}

.width-90 {
  width: 90%;
}

.modern-input.no-padding {
  padding-left: 0;
}


@media (max-width: 768px) {
  table {
    width: 100%;
    max-width: 96vw;
  }

  tr.add-item {
    width: 96vw;
    max-width: 96vw;
  }

  td.number-size,
  input.number-size {
    width: 3vw;
  }

  td.name-size,
  input.name-size {
    width: 100%;
    max-width: 35vw;
  }

  td.name-size>input {
    width: 33vw;
  }

  td.type-size,
  select.type-size {
    width: 11vw;
    display: flex;
    justify-content: center;
  }

  td.cost-size,
  input.cost-size {
    width: 11vw;
    display: flex;
    justify-content: center;
  }

  .action-size {
    width: 3.3rem;
  }

  tr {
    font-size: 0.78em;
  }

  h2 {
    font-size: 1em;
  }

  .add-item-button {
    width: 9em;
    font-size: 0.9em;
  }

  p {
    font-size: 0.8em;
  }

  .header-container {
    width: 62vw;
  }

  .suggestions {
    max-height: 18rem;
  }

  .item-number-button.small {
    height: 2.4em;
    width: 4.3em;
  }
}