table {
  width: 50vw;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 2%;
}

th,
td {
  padding: 14px 8px;
  text-align: left;
  color: #d5d5d5;
}

th {
  border-bottom: 2px solid #ddd;
}

td {
  border-top: 1px solid #dddddd7e;
}

tr {
  font-size: 0.63em;
  color: #d5d5d5;
}

tr.add-item {
  width: 50vw;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 2%;
  padding: 0 0 14px 0;
  display: flex;
  justify-content: space-around;
}

td.align-right,
.number-size {
  width: 2vw;
  text-align: right;
}

th.name-size,
td.name-size {
  width: 33vw;
}

input.name-size {
  width: 99%;
}

.type-size {
  width: 7vw;
}

.cost-size {
  width: 5vw;
}

.action-size {
  width: 3vw;
}

a:link,
a:visited,
a:hover {
  text-decoration: underline;
  color: #d5d5d5;
}

h2 {
  font-size: 1em;
  color: #d5d5d5;
}

p {
  font-size: 0.63em;
  color: #d5d5d5;
}

.item-number-button,
.add-item-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
  box-shadow: 0px 0px 5px 5px rgba(136, 135, 135, 0.25);
  font-weight: bold;
  background-color: #f9f9f9;
  color: #333333;
  border: 1px solid #c0c0c0;
  cursor: pointer;
  font-size: 0.63em;
  height: 3.5em;
  width: 5.3em;
  border-radius: 0.9em;
}

.add-item-button {
  height: 2.5em;
  width: 10em;
  border-radius: 0.5em;
  margin: 18px 0;
}

.modern-input {
  height: 2.25em;
  background-color: #f9f9f9;
  color: #333333;
  border: 1px solid #c0c0c0;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 0.9em;
}

.thick-border {
  background-color: rgb(200, 200, 200);
  border: 2px solid rgba(30, 30, 30, 0.85);
  box-shadow: 0px 0px 4.5px 4.5px rgba(120, 120, 120, 0.3);
}

select.modern-input {
  height: 2.5em;
}

.header-container {
  width: 40vw;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-bottom: 18px;
}

.label-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.money-box {
  display: flex;
  align-self: center;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  border: 2px solid rgb(33, 40, 45);
  height: 25px;
  align-items: center;
  justify-content: center;
}

.time-div-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.material-symbols-outlined {
  vertical-align: middle;
}

.space-left {
  margin-left: 15px;
}


@media (max-width: 768px) {
  table {
    width: 96vw;
  }

  tr.add-item {
    width: 96vw;
    border-top: 1px solid #dddddd7e;
  }

  td.number-size,
  input.number-size {
    width: 3vw;
    border-top: 0px;
  }

  td.name-size,
  input.name-size {
    width: 99%;
    border-top: 0px;
  }

  td.type-size,
  select.type-size {
    width: 10vw;
    border-top: 0px;
  }

  td.cost-size,
  input.cost-size {
    width: 10vw;
    border-top: 0px;
  }

  td.action-size,
  input.action-size {
    width: 10vw;
    border-top: 0px;
  }

  tr {
    font-size: 0.78em;
  }

  h2 {
    font-size: 1em;
  }
  .add-item-button,
  .item-number-button {
    height: 3.7em;
  }

  td.name-small {
    width: 35vw;
  }
}