.sidebar,
.info-sidebar {
  position: fixed;
  display: flex;
  width: 20vw;
  top: var(--menu-height);
  height: calc(100vh - var(--menu-height));
  background-color: var(--blue);
  z-index: 900;
  overflow-y: auto;
  scrollbar-width: thin;
  padding-left: 0.4rem;
}

.sidebar {
  box-shadow: 2px 0px 5px 1px var(--blue-t);
  left: 0;
}

.info-sidebar {
  box-shadow: -2px 0px 5px 1px var(--blue-t);
  right: 0;
}

.top-menu {
  position: fixed;
  z-index: 1000;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--menu-height);
  background-color: var(--blue);
  align-items: center;
  justify-content: space-between;
  padding: 0 0.4rem;
}

.top-logo {
  height: 90%;
  max-height: 3rem;
  margin-right: auto;
  cursor: pointer;
}

.top-menu-button-container {
  display: flex;
  gap: 1.5vw;
  margin-right: 3vw;
}

.menu-side-by-side {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: medium;
  align-items: center;
}

.mobile-menu-button {
  margin-left: auto;
  user-select: none;
  margin-right: 6vw;
}

.mobile-dropdown {
  position: absolute;
  top: var(--menu-height);
  width: 15vw;
  margin-right: 2vw;
  right: 2vw;
  background-color: var(--blue);
  box-shadow: 0 0 20px var(--blue-t);
  border-radius: 1rem;
  border: 2px solid var(--blue-t);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
  z-index: 1001;
  padding-right: 2vw;
  padding-left: 2vw;
}

.sidebar.collapsed,
.info-sidebar.collapsed {
  width: 2.6rem;
}

.hidden {
  visibility: hidden;
}

.toggle-button,
.info-toggle-button {
  color: var(--white);
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  width: 3rem;
  height: 3rem;
  position: absolute;
}

.toggle-button {
  right: 0;
  top: 0;
}

.info-toggle-button {
  left: 0;
  top: 0;
}

.saving-button {
  margin-top: 0.51rem;
}

.delete-info-button {
  position: absolute;
  right: 0.8rem;
  left: auto;
}

.deleting {
  transition: opacity 0.3s ease;
  opacity: 0;
}

.info-card-row {
  width: fit-content;
  text-align: left;
  align-items: left;
  margin-left: 3px;
  margin-right: 2px;
}

span.info-card {
  color: var(--black);
  font-size: medium;
  text-align: left;
}

p {
  color: var(--black);
  font-size: medium;
  text-align: justify;
}

/* table inside item descriptions */
.description-content {
  overflow-x: auto;
  overflow-y: auto;
  font-size: small;
}

.description-content table {
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: small;
}

.description-content th,
.description-content td {
  padding: 0.25rem 0.5rem;
  text-align: left;
  font-size: small;
}

@media (max-width: 768px) {

  .sidebar,
  .info-sidebar {
    width: 96%;
  }

  .sidebar.collapsed,
  .info-sidebar.collapsed,
  .toggle-button,
  .info-toggle-button {
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 8rem;
  }

  .sidebar.collapsed,
  .info-sidebar.collapsed {
    margin: 1rem;
    padding-left: 0;
    z-index: 800;
  }

  .saving-button {
    height: 2.8rem;
    width: 7rem;
  }

  .sidebar.collapsed {
    left: auto;
    right: 0;
  }

  .info-sidebar.collapsed {
    top: calc(4.7rem + var(--menu-height));
  }

  .top-menu-button-container {
    gap: 2vw;
    margin-right: 4vw;
  }

  .top-menu {
    width: 95vw;
    padding-left: 2vw;
    padding-right: 4vw;
  }

  .mobile-dropdown {
    width: 60vw;
    margin-right: 4vw;
    right: 4vw;
    padding-right: 7vw;
    padding-left: 7vw;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(300%);
  }

  to {
    transform: translateX(0);
  }
}