.sidebar {
  display: flex;
  width: 21rem;
  height: 100%;
  background-color: rgb(1, 116, 116);
  box-shadow: 2px 0px 5px 1px rgba(1, 89, 116, 0.7);
  transition: width 0.4s ease-out;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding-left: 0.5rem;
}

.sidebar.collapsed {
  width: 2.6rem;
}

.hidden {
  visibility: hidden;
}

.toggle-button {
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 0;
  top: 0;
}

.saving-button {
  transition-duration: 0.3s;
  box-shadow: 0px 0px 5px 5px rgba(136, 135, 135, 0.25);
  background-color: #f9f9f9;
  color: #333333;
  border: 1px solid #c0c0c0;
  cursor: pointer;
  height: 2.5rem;
  width: 100%;
  max-width: 5.6rem;
  border-radius: 0.55rem;
  margin-left: 0.9rem;
  margin-top: 0.51rem;
}

.saving-button-margin {
  margin-left: 1.3rem;
}

.deleting {
  transition: opacity 0.3s ease;
  opacity: 0;
}

@media (max-width: 768px) {
  .sidebar {
    width: 96%;
  }

  .sidebar.collapsed,
  .toggle-button {
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 8rem;
  }

  .sidebar.collapsed {
    margin: 2rem;
  }

  .saving-button {
    height: 3.8rem;
    width: 7rem;
    border-radius: 0.75rem;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(300%);
  }

  to {
    transform: translateX(0);
  }
}