.sidebar {
  width: 19vw;
  height: 100vh;
  background-color: rgb(1, 116, 116);
  box-shadow: 2px 0px 5px 1px rgba(1, 89, 116, 0.7);
  transition: width 0.3s ease;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  padding-left: 0.5vw;
  align-items: center;
}

.sidebar.collapsed {
  width: 2.6vw;
}

.toggle-button {
  color: white;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 3vw;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
}

.saving-button {
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
  box-shadow: 0px 0px 5px 5px rgba(136, 135, 135, 0.25);
  font-weight: bold;
  background-color: #f9f9f9;
  color: #333333;
  border: 1px solid #c0c0c0;
  cursor: pointer;
  font-size: 14px;
  height: 4vh;
  width: 4.5vw;
  border-radius: 1vh;
  margin-left: 0.9vh;
  margin-top: 1.2vh;
}

.saving-button-margin {
  margin-left: 1.9vh;
}

.toggle-button-out {
  background-color: green;
  color: white;
  padding: 10px;
  cursor: pointer;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  animation: slideIn 0.8s forwards;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
}

.deleting {
  transition: opacity 0.3s ease;
  opacity: 0;
}


@media (max-width: 768px) {
  .sidebar {
    width: 95vw;
  }

  .sidebar.collapsed,
  .toggle-button {
    width: 12vw;
    height: 12vw;
    border-radius: 7.5vw;
  }

  .sidebar.collapsed {
    margin: 2vw;
  }

  .saving-button {
    height: 6vh;
    width: 20vw;
    border-radius: 1.5vh;
    margin-left: 1.9vh;
    margin-top: 1.5vh;
  }

  .saving-button-margin {
    margin-left: 2.5vh;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(300%);
  }

  to {
    transform: translateX(0);
  }


}