{% extends 'base.html' %}

{% block head %}
<title>Shopperino</title>
{% endblock %}

{% block body %}
<script src="static/script.js"></script>

<div class="menu_box">
    <div style="float: left; width: 50%;">
        <h1 style="text-align: left; margin-left: 25px;">Shopperino</h1>
    </div>
</div>

<ul class="lateral-menu">
    <li>
        <button id="toggle-textbox-button">New World</button>
        <input type="text" id="text-input" placeholder="New World Name" style="display: none;">
        <button id="save-button" style="display: none;">Save</button>
    </li>
    <li id="world-dropdown-container" style="display: none;">
        <h4>Saved Worlds:</h4>
        <select id="saved-text-dropdown"></select>
    </li>
    <li id="player-level-container" style="display: none;">
        <h4>Player Level:</h4>
        <input name="player_level" type="number" id="player-level-input" value="1" min="1">
    </li>
    <li id="create-city-container" style="display: none;">
        <button id="toggle-city-textbox-button">Add City</button>
        <input type="text" id="city-text-input" placeholder="City Name" style="display: none;">
        <button id="save-city-button" style="display: none;">Save</button>
    </li>
    <li id="cities-dropdown-container" style="display: none;">
        <h4>Cities in Selected World:</h4>
        <select id="saved-cities-dropdown"></select>
    </li>
    <li id="city-level-container" style="display: none;">
        <h4>City Level:</h4>
        <select id="city-level-dropdown">
            <option value="1">Burg</option>
            <option value="2">Village</option>
            <option value="3">Town</option>
            <option value="4">City</option>
            <option value="5">Metropolis</option>
        </select>
    </li>
</ul>

<div class="input_box_container">
    <div class="input_box">
        <div class="itemx">
            <p> Shop level:
                <input id="shop-level-input" name="shop_level" value="{{default['shop_level']}}" type="number" style="width: 35px" max="10" min="0">
            </p>
        </div>

        <div class="itemx">
            <p> Reputation:
                <input id="reputation-input" name="reputation" value="{{default['reputation']}}" type="number" style="width: 35px" max="10" min="-10">
            </p>
        </div>

        <div class="itemx">
            <select id="shop-type-dropdown" name="shop_type">
                <option value="{{default['shop_type']}}" selected>{{default['shop_type']}}</option>
                {% for shoptype in shop_list[:] %}
                {% if shoptype != default['shop_type']%}
                <option value="{{shoptype}}">{{shoptype}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="itemx">
            <button id="new_shop_button" class="buttonx">New shop</button>
        </div>
    </div>
</form>

<div class="content">
    <table id="items-table">
        <tr style="border-bottom: 1px solid rgba(70, 70, 70, 0.4);">
            <th style="width: 4%; max-width: 80px; min-width: fit-content;">#</th>
            <th style="width: auto">Name</th>
            <th style="width: auto; min-width: 0px; max-width: fit-content;">Type</th>
            <th style="min-width: fit-content; max-width: fit-content;">Cost</th>
        </tr>
    </table>
</div>

{% endblock %}