{% extends 'base.html' %}

{% block head %}
<title>Shopperino</title>
{% endblock %}

{% block menu %}
<form method="POST" action="/">
    <div class="menu_box">
        <div style="float: left; width: 50%;">
            <h1 style="text-align: left; margin-left: 25px;">Shopperino</h1>
        </div>
        <div style="float: right; width: 50%; margin-right: 20px">
            <p style="text-align: right; vertical-align: bottom;"> Welcome adventurer </p>
            <p style="text-align: right; vertical-align: upper;"> Player level:
                <input name="player_level" type="number" style="width: 40px" max="20" min="1"
                    value="{{default['player_level']}}">
            </p>
        </div>
        <br style="clear: left;" />
    </div>
    <div class="input_box_container">

        <div class="input_box">
            <p style="margin-left: 15px;"> City level:
                <input name="city_level" value="{{default['city_level']}}" type="number" style="width: 40px" max="5"
                    min="0">
            </p>

            <p style="margin-left: 15px;"> Shop level:
                <input name="shop_level" value="{{default['shop_level']}}" type="number" style="width: 40px" max="10"
                    min="0">
            </p>

            <p style="margin-left: 15px;"> Reputation:
                <input name="reputation" value="{{default['reputation']}}" type="number" style="width: 40px" max="10"
                    min="-10">
            </p>

            <select name="shop_type" style="margin-left: 15px;">
                <option value="{{default['shop_type']}}" selected>{{default['shop_type']}}</option>
                {% for shoptype in shop_list[:] %}
                {% if shoptype != default['shop_type']%}
                <option value="{{shoptype}}">{{shoptype}}</option>
                {% endif %}
                {% endfor %}
            </select>

            <button type="submit" style="margin-left: 20px; margin-right: 20px;">New shop</button>

            <input style="margin-left: 15px;" name="save" type="checkbox">
            <p style="margin-left: 5px; margin-right: 15px;"> Save PDF
            </p>
        </div>
    </div>
</form>
{% endblock %}

{% block body %}
<div class="content">
    {% if items|length > 0 %}
    <table>
        <tr>
            <th style="width: 4%">#</th>
            <th>Name</th>
            <th style="width: 15%">Type</th>
            <th style="width: 10%">Cost</th>
        </tr>
        {% for item in items %}
        <tr>
            <td style="text-align: center;">{{ item["Number"] }}</td>
            {% if item["Link"] != "" %}
            <td class="text-align: left; margin-left: 5px;"><a href="{{item['Link']}}"
                    target="_blank">{{ item["Name"] }}</a></td>
            {% else %}
            <td class="text-align: left; margin-left: 5px;">{{ item["Name"] }}</td>
            {% endif %}
            <td style="text-align: center;" ;>{{ item["Type"] }}</td>
            <td style="text-align: right; margin-right: 5px;">{{ item["Cost"] }} gp</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}